.android {
	color: #A4C639;
}

.bootstrap {
	color: #563D7C;
}

.css {
	color: #0A76BE;
}

.font-awesome {
	color: #228AE6;
}

.github {
	color: #000000;
}

.html {
	color: #E44D26;
}

.js {
	color: #F7DF1E;
}

.php {
	color: #777BB3;
}