@font-face {
    font-family: KGHappy;
    src: url("../font/KGHAPPY/KGHAPPY.ttf");
}

@font-face {
    font-family: AvenirLTSTD_Heavy;
    src: url("../font/Avenir_LT_STD/avenirltstd_heavy.ttf");
}

@font-face {
    font-family: AvenirLTSTD_Light;
    src: url("../font/Avenir_LT_STD/avenirltstd_light.ttf");
}

::selection {
	background: #FFAD2B;
	color: #362F2D;
}

::-moz-selection {
	background: #FFAD2B;
	color: #362F2D;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-thumb {
	background: #FFAD2B;
	 -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

::-webkit-scrollbar-thumb:hover {
	background: #FF9D00;
	-webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}
}

::-webkit-scollbar-thumb:click {
	background: #E68E00;
}

* {
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

body {
	font-family: AvenirLTSTD_Light;
}

a, a:hover,a:focus {
    color: inherit;
    text-decoration: none;
}

iframe {
    width: 100%;
}

p {
	font-size: 16px;
}

.row {
	margin: 0;
}

.a-orange {
	-webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.a-orange:hover {
	color: #FFAD2B;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.a-social {
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.bc-white {
	background-color: #FFF;
	color: #000;
}

.bc-orange {
    background-color: #FC9A07;
    color: #FFFFFF;
}

.esp {
    padding-bottom: 20px;
    padding-top: 20px;
}

.a-invalid {
    color: #595959;
    cursor: not-allowed;
}

.linkedin {
    color: #0077B5;
}

#mainContent {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

#scrollable {
	padding-left: 0px;
	width: 400%;
}

.part-title {
	color: #FFAD2B;
	font-family: KGHappy;
	margin-bottom: 40px;
}

.presentation {
	font-size:20px;
	margin-bottom:50px;
}

@media screen and (max-width: 400px) {
	.part-title {
		font-size: 25px;
	}
}

.btn-orange {
	background-color: #FFAD2B;
	border: none;
	border-radius: 10px;
	color: #FFFFFF;
	font-family: AvenirLTSTD_Heavy;
	padding-bottom: 7px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 7px;
	text-transform: uppercase;
	-moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.btn-orange:hover {
	background-color: #FF9D00;
	color: #FFFFFF;
	-moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

#fixed-swipe {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(254,254,254,0.6);
}

#info-swipe {
	color: #000000;
    margin-top: 50vh;
    transform: translateY(-50%);
}

#swipe-logo {
	bottom: 0;
	width: 75%;
}

.ui-loader {
	display: none;
}

.store-badge {
	width: 250px;
}

.pres-logo {
	width: 150px;
}

.chiffre {
	color: #FFAD2B;
	font-family: AVENIRLTSTD_Heavy;
	font-size: 20px;
}

table {
	margin: auto;
}

td {
	padding-left: 10px;
	padding-right: 10px;
}

.border {
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #FFFFFF;
}

#modif-compte, #form-pass, #form-prenom, #form-nom, #form-genre, #form-date {
	display: none;
}

input, select {
	border-radius: 10px;
	padding-left: 4px;
}

#logout {
	padding-top: 20px;
}

@media screen and (max-width: 767px) {
	#div-stats {
		display: none;
	}
}

.main {
    margin-top: 50vh;
    transform: translateY(-50%);
}

video {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
}

#error404 h1, #error404 h2 {
	text-shadow: 2px 2px #FFFFFF;
}

@media screen and (max-width: 600px) {
	video {
		display: none;
	}
}